.Rproj.user
.Rhistory
.RData
.Ruserdata
*.gif
*.csv
*.rds
*.xlsx
*.png
*.nml
*.yaml
*.dat
*.nc
*.mp4
*.gpkg
*.tif
*.zip
*.dbf
*.prj
*.shp
*.shx
*.png
Data_mod/meteo_data.csv
data/derived/Okaro_CTD_bouy
data/derived/Rotoiti_CTD_bouy
